.content {
  text-align: center;
}

.details {
  width: 300px;
  margin: 0 auto;
}

.pokemon .types {
  margin: 1.5rem;
}

.types .type {
  margin: 1rem;
  font-size: 1.2rem;
}

.name {
  text-align: center;
  font-size: 1.7rem;
}

#buttonVoltar {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.825rem;
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
}
